<!DOCTYPE html>
<html lang="en">

<head>
    <title>HBNB Filters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}">
</head>

<body>
    <header>
        <h1>HBNB</h1>
        <nav>
            <ul class="nav">
                <li><a href="#">Places</a></li>
                <li><a href="#">Reviews</a></li>
            </ul>
        </nav>
    </header>
    <section class="filters">
        <h3>States</h3>
        <ul class="filter">
            {% for state in states %}
                <li>{{ state.name }}</li>
            {% endfor %}
        </ul>
        <h3>Cities</h3>
        <ul class="filter">
            {% for city in cities %}
                <li>{{ city.name }}</li>
            {% endfor %}
        </ul>
        <h3>Amenities</h3>
        <ul class="filter">
            {% for amenity in amenities %}
                <li>{{ amenity.name }}</li>
            {% endfor %}
        </ul>
    </section>
    <section class="places">
        <article class="place">
            <div class="title">
                <h2>Place title</h2>
                <p class="price">$200/night</p>
            </div>
            <div class="information">
                <div class="max_guest">
                    <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                    <br /> Max Guest 3
                </div>
                <div class="number_rooms">
                    <i class="fa fa-bed fa-3x" aria-hidden="true"></i>
                    <br /> 1 Bedroom
                </div>
                <div class="number_bathrooms">
                    <i class="fa fa-bath fa-3x" aria-hidden="true"></i>
                    <br /> 1 Bathroom
                </div>
            </div>
            <div class="user">
                <strong>Owner:</strong> John Doe
            </div>
            <div class="description">
                Description of the place
            </div>
        </article>
    </section>
    <footer>
        <p>Footer</p>
    </footer>
</body>

</html>
